*{
	font-family: "Times New Roman", monospace;
	font-size: 15px;
}

#apply_external_styling{
	color: yellow;
}

h1{
	font-size: 30px;
}

#uppercase{
	text-transform: uppercase;
}

.languages{
	background-color: palegreen;
}

li[style="color:black;"]{
	border-width: 1px;
	border-style: solid;
	border-color: blue;
}

img + ul{
	list-style-type: none;
}

body img{
	height: 100px;
	widtgh: 100px;
	border-radius: 150px;
}

h3 ~ p{
	text-align: center;
	color: black;
}

ul > li{
	letter-spacing: 5px;
}